SECRET_KEY_DJANGO=django-insecure-123456789
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1



# Credenciales iguales a docker-compose
DB_NAME=dbmeetstack
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5544

DATABASE_URL=postgresql://postgres:postgres@localhost:5544/dbmeetstack